services:
  postgres-db:
    image: postgres:latest
    restart: always
    ports:
      - "${DB_PORT}:5432" 
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    container_name: ordersdb
    volumes:
      - postgres_data:/var/lib/postgresql
      
volumes:
  postgres_data:
    name: ordersdb_data